@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f6f6;
}
.quiz-container {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.options {
  list-style: none;
  padding: 0;
}

.option {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-align: left;
  cursor: pointer;
}

.option.active {
  background-color: #008000;
  color: #fff;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.result.correct {
  color: green;
}

.result.incorrect {
  color: red;
}

li {
  margin: 11px auto;
}

.back {
  display: flex;
  align-items: center;
}

/* For the new record box */
.record {
  text-align: left;
  margin: 10px;
}
.record-container {
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  position: absolute;
  margin: 20px;
  right: 0;
  background: yellowgreen;
  color: white;
  top: 0;
}
