.quiz-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.options {
  list-style: none;
  padding: 0;
}

.option {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.option.active {
  background-color: #008000;
  color: #fff;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.result.correct {
  color: green;
}

.result.incorrect {
  color: red;
}
/*   "main": "index.js",
  "engines": {
    "node": "14.x"
  }, */
/* "start": "node index.js", */
/* add it in package.json */
